.tile-background {
  background: blue;
  color: yellow;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: blue;
}

output {
  border: 1px dashed blue;
  background: #ccc;
  color: #555;
  padding: 1rem;
  font-weight: bold;
}
