.tile-background {
  background: red;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: red;
}

output {
  border: 1px dashed red;
  padding: 1rem;
  font-weight: bold;
}
